body {
    background: #222;
    font-family: Tahoma, Sans-Serif;
    font-weight: 100;
}

h1, h2,h3 {
    text-align: center;
    font-weight: thin;
    color: #eee;
    margin:0;
}

h2 {
    font-size: 225%;
}

h3 {
    vertical-align: middle;
}

a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: purple;
    text-decoration: underline;
}
a:active {
    color: red;
}

.task {
    background: #808785;
    color: #777;
    margin: 0.2%;
    width: 49.5%;
    display: inline-block;
    font-family: Raleway;
    vertical-align: middle;
}

.task.P1 {
    background: #EB4C5F;
}

.task.P2 {
    background: #00B4EF;
}

.task.P3 {
    background: #01B5A4;
}

.task.P0 {
    background: #808785;
}

.priority {
    display: block;
    clear: both;
    /*float: left;*/
    .P1 {

    }
}

.priority.P1 {
    color: #88112B;
}

.priority.P2 {
    color: #106A7D;
}

.priority.P3 {
    color: #00665C;
}

.priority.unknown {
    color: #141616;
}

.task h1 {
    display: block;
    clear: both;
    /*float: left;*/
    /*width: 30%;*/
}
.task .details {
    float: right;
    width: 68%;
    min-height: 6em;
}

.task .info {
    float: left;
    height: 100%;
    width: 30%;
    min-height: 6em;
}

.nada {
    display: none;
}

/* ------------------ */
.task.past h1{
    color: #f22;
}
.task.past .details {
    background: #e55;
}

.task.soon h1{
    color: #5af;
}
.task.soon .details {
    background: #5af;
}

.task.today {
    background: #6a2;
    color: white;
}
.inbox {
    background: #25a;
    color: white;
}
.later {
    color: #666;
    font-style: italic; 
}

